/*
    Mime Types Pane
*/

#mime_types_list_box {}

#mime_types_list_box .content {
    margin-top: 8pt;
    margin-bottom: 8pt;
    margin-left: 8pt;
    margin-right: 8pt;
}

#mime_types_list_box .mime-type {
    font-weight: bold;
}

#mime_types_list_box .mime-type-description {
    opacity: 0.7;
}

#mime_type_pane_detail_applications_list_box {
    margin-top: 12pt;
    margin-bottom: 12pt;
    margin-left: 12pt;
    margin-right: 12pt;
}

#mime_type_pane_detail_select_none_button {
    margin-left: 12pt;
    margin-right: 12pt;
}

#system-default-handler-warning-message {
    margin-top: 8pt;
    margin-bottom: 8pt;
    margin-left: 18pt;
    margin-right: 18pt;
    opacity: 0.75;
}

/*
    Applications Pane
*/

#application_detail_button_row {
    margin-top: 12pt;
    margin-bottom: 0pt;
    margin-left: 12pt;
    margin-right: 12pt;
}

#application_detail_button_row .button-row-button {
    margin-left: 12pt;
}

#application_to_mime_type_assignment_list_box {
    margin-top: 12pt;
    margin-bottom: 12pt;
    margin-left: 12pt;
    margin-right: 12pt;
}

#applications_list_box .content {
    margin-top: 8pt;
    margin-bottom: 8pt;
    margin-left: 8pt;
    margin-right: 8pt;
}

#applications_list_box .display_name {
    font-weight: bold;
}

#applications_list_box .desktop_entry_id {
    opacity: 0.7;
}